<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">

	<!-- * 유의 : 1. 변수명을 적지 않는다  2. jstl처럼 $를 사용하지 않는다  3. 대소문자를 가린다 -->
	<insert id="insertBoard" parameterType="BoardDto"> <!-- insert는 result 타입이 없음 -->
		INSERT INTO T_SPRING_BOARD (
			WRITER,
			EMAIL,
			SUBJECT,
			PASSWORD,
			REG_DATE,
			READ_COUNT,
			CONTENT
		)
		VALUES (
			#{writer},
			#{email},
			#{subject},
			#{password},
			NOW(),
			0,
			#{content}
		)
	</insert>
	
	<select id="selectListBoard" resultType="BoardDto">
		SELECT
				*
		FROM
				T_SPRING_BOARD
	</select>

</mapper>